name: CI

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  push:
    branches:
    - master
    paths:
    - '**.cs'
    - '**.csproj'
    - '*/package.json'
    - '*/packages.config'
    - '.github/workflows/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Nuget.exe
        uses: nuget/setup-nuget@v1
        
      - name: Restore packages
        run: nuget restore log4net.unity.sln

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v1.0.2
        
      - name: Build
        run: msbuild log4net.unity.sln /t:Clean,Build -p:Configuration=Release
        
      - name: Get Time
        id: time
        uses: nanzm/get-time-action@v1.1
        with:          
          format: 'YYYY-MM-DD-HH-mm-ss Z'
          
      - name: Commit & Push changes
        uses: actions-js/push@master        
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: 'Autobuild commit ${{ steps.time.outputs.time }}'
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'master'
          fetch-depth: 0
          
      - name: Create release branch
        run: |
          chmod +x .github/workflows/release.sh
          .github/workflows/release.sh
        shell: bash
      - name: Release
        if: ${{ env.RELEASE_TAG != 'NOT_RELEASE' }}
        uses: softprops/action-gh-release@v1    
        with:
          tag_name: ${{ env.RELEASE_TAG }}   
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
